:root {
  --background: #000;
  --foreground: hsl(0, 0%, 9%);
}

@font-face {
  font-family: "TheGoodMonolith";
  font-style: normal;
  font-weight: 500;
  src: local("TheGoodMonolith"),
    url("https://fonts.cdnfonts.com/s/32398/TheGoodMonolith.woff")
      format("woff");
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #000;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "TheGoodMonolith", sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "TheGoodMonolith", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
